{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{docs, [
    {output_dir, "doc"},
    {main, "despachante"}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, race_conditions, no_return]},
    {plt_add_apps, [kernel, stdlib]}
]}.

{plugins, [rebar3_hex]}.

{hex, [
    {name, despachante},
    {description, "Validation, mock and generation of Brazilian document numbers"},
    {licenses, ["Apache-2.0"]},
    {links, [{"GitHub", "https://github.com/Camilotk/despachante"}]},
    {doc, edoc}
]}.
